.vagrant/
env/awx/.terraform.lock.hcl
env/awx/.terraform
env/awx/infra_aws_key
env/awx/infra_aws_key.pub
env/awx/remote-state.tf
env/awx/tfcloud-api-token
env/dev/.terraform.lock.hcl
env/dev/.terraform
env/dev/infra_aws_key
env/dev/infra_aws_key.pub
env/dev/remote-state.tf
env/dev/tfcloud-api-token
infra/.terraform.lock.hcl
env/prod/.terraform.lock.hcl
env/prod/.terraform
env/prod/infra_aws_key
env/prod/infra_aws_key.pub
env/prod/remote-state.tf
env/prod/tfcloud-api-token
infra/.terraform
infra/aws-cli_credentials.csv
infra/infra_aws_key
infra/infra_aws_key.pub
infra/infra_aws_key.pub
infra_aws_key
